tarefa04/cardapio.xsd

<xsi:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema"
        xmlns="http://cardapio.org"
        targetNamespace="http://cardapio.org"
        elementFormDefault="qualified">

        <xsi:element name="cardapio">
                <xsi:complexType>
                        <xsi:sequence>
                                <xsi:element name="prato" minOccurs="1" maxOccurs="unbounded">
                                        <xsi:complexType>
                                                <xsi:sequence>
                                                <xsi:element name="nome_prato" type="xsi:string"/>
                                                <xsi:element name="descricao" type="xsi:string"/>
                                                <xsi:element name="ingredientes">
                                                        <xsi:complexType>
                                                                <xsi:sequence>
                                                                        <xsi:element name="ingrediente" type="xsi:string" minOccurs="1" maxOccurs="unbounded"/>
                                                                </xsi:sequence>
                                                        </xsi:complexType>
                                                </xsi:element>
                                                <xsi:element name="preco" type="xsi:decimal"/>
                                                <xsi:element name="calorias" type="xsi:integer"/> 
                                                <xsi:element name="tempo_preparo" type="xsi:string"/>
                                                </xsi:sequence>
                                        <xsi:attribute name="ID" type="xsi:integer" use="required"/>
                                        </xsi:complexType>
                                </xsi:element>
                        </xsi:sequence>
                </xsi:complexType>
        </xsi:element>

</xsi:schema>
